In [1]:
import json
from pprint import pprint
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
ls

Untitled.ipynb  callgrind/

In [3]:
cd ..

/scratch

In [4]:
cd

/home/mantonan

In [5]:
cd

/home/mantonan

In [6]:
ls

 11PM.png
 12AM.png
 12PM.png
 1PM.png
 1k.txt
 2AM.png
 2k.txt
 4AM.png
 4PM.png
 4k.txt
 5AM.png
 5PM.png
 6AM.png
 6k.txt
 8PM-first-month-cpu5.png
 8PM-first-month.png
 9AM.png
 9PM.png
 ALGORITHM_VERSION_1.ipynb
 ALL_STD.png
 AVG_ALL.png
 AVG_ALL_24.png
'CPU real value Algorithm.ipynb'
 Cross-correlation.png
 DAYS-SERVERS-SPIKEY.ipynb
 Desktop/
 Discretitation.ipynb
 Documents/
 Downloads/
'FIRST FIT DECREASING ALGORITHM CPU REAL VALUE SPIKEY.ipynb'
 Grocery_and_Gourmet_Food.json
 Grocery_and_Gourmet_Food.zip
 Music/
 Pictures/
 Public/
"Rebecca's Algorithm.ipynb"
 Templates/
 Untitled.ipynb
 Untitled1.ipynb
 Untitled2.ipynb
 Untitled3.ipynb
 Untitled4.ipynb
 Untitled5.ipynb
'VALUE Algorithm.ipynb'
 Videos/
'WORST FIT DECREASING ALGORITHM CPU REAL VALUE SPIKEY .ipynb'
'WORST FIT DECREASING FOR FLACT.ipynb'
 avg_std.csv
 cpu_all-linear.png
 cs422-project2_2.11-0.1.0.jar
 days_new.txt
 derby.log
 desicion_tree.ipynb
 find_users_Basic.txt
 foo.png
 local_scratch@
 max-min-12PM.png
 max-min-BASIC.png
 max-min-IO.png
 max-min-MEMORY.png
 max-min-P.png
 max-min-S-memory-IO.png
 max-min-S-memory-Premium.png
 max-min-S.png
 max-min-abs.png
 max-min.png
 maxcpu_all-Linear-ABS.png
 maxcpu_all-LinearTRUE.png
 maxcpu_all-linear.png
 maxcpu_all-log-ABS.png
 metastore_db/
 mincpu_all-LinearTRUE.png
 project/
 spark-warehouse/
 standard.png
 std-avg-12PM.png
 std-avg-P.png
 std_12am.png
 std_12am_linear.png
'testing real CPU values.ipynb'
'testing value algorithm.ipynb'
 user_array.ipynb

In [8]:
import json
from pprint import pprint

with open('Grocery_and_Gourmet_Food.json') as f:
    data = json.loads("[" + 
        f.read().replace("}\n{", "},\n{") + 
    "]")

dataset = pd.DataFrame(data)

In [9]:
dataset.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,image,style
0,5.0,True,"06 4, 2013",ALP49FBWT4I7V,1888861614,Lori,Very pleased with my purchase. Looks exactly l...,Love it,1370304000,NaN,NaN,NaN
1,4.0,True,"05 23, 2014",A1KPIZOCLB9FZ8,1888861614,BK Shopper,Very nicely crafted but too small. Am going to...,Nice but small,1400803200,NaN,NaN,NaN
2,4.0,True,"05 9, 2014",A2W0FA06IYAYQE,1888861614,daninethequeen,still very pretty and well made...i am super p...,"the ""s"" looks like a 5, kina",1399593600,NaN,NaN,NaN
3,5.0,True,"04 20, 2014",A2PTZTCH2QUYBC,1888861614,Tammara,"I got this for our wedding cake, and it was ev...",Would recommend this to a friend!,1397952000,NaN,NaN,NaN
4,4.0,True,"04 16, 2014",A2VNHGJ59N4Z90,1888861614,LaQuinta Alexander,It was just what I want to put at the top of m...,Topper,1397606400,NaN,NaN,NaN

**As we can observe from the above print results we have Nan values. Lets focus as a first step on them and try to clean the dataset.**

In [14]:
print("the dataset has {} rows in total".format(dataset.shape[0]))
##lets check how many missing value we have for each column
dataset.isnull().sum()

the dataset has 5074160 rows in total

overall                 0
verified                0
reviewTime              0
reviewerID              0
asin                    0
reviewerName          355
reviewText           2883
summary              1327
unixReviewTime          0
vote              4414688
image             5003225
style             2798836
dtype: int64

**As we can see from the above results the columns: reviewerName,reviewText,summary,vote,image,style have missing values.** 

**1.Let's start with *reviewerName* columns which represent the name of the reviewer. Also we know that reviewerID is unique for each reviewer and that column doesnt have missing values. We will assign for each reviwerName which has Nan value the reviwerID**

In [54]:
##put as a name the reviewerID
dataset['reviewerName']=dataset['reviewerName'].fillna(dataset['reviewerID'])

**2. Lets focus on *reviewText* and *summary* columns. As we can see that columns are very relevant. In order to fill the missing values we will put the reviewText to summary when the summary column is Nan and the summary string to reviewText when a reviewText is Nan.**

In [50]:
##if the summary has Nan value put the value from the reviewText
dataset['summary']=dataset['summary'].fillna(dataset['reviewText'])

##if the reviewText has Nan value put the value from the summary Text
dataset['reviewText']=dataset['reviewText'].fillna(dataset['summary'])

In [55]:
print("The total number of Nan values of summary AND reviewText is:",dataset[dataset['summary'].isnull() & dataset['reviewText'].isnull()].shape[0])
dataset.isnull().sum()

The total number of Nan values of summary AND reviewText is: 137

overall                 0
verified                0
reviewTime              0
reviewerID              0
asin                    0
reviewerName            0
reviewText            137
summary               137
unixReviewTime          0
vote              4414688
image             5003225
style             2798836
dtype: int64

In [56]:
######################## GOOGLE TRENDS ANALYSIS###############

In [109]:
##keep only the rows which dont have Nan values at summary and reviewText
d=dataset[dataset["summary"].notnull() & dataset["reviewText"].notnull()]

In [153]:
##the list of trend words
trends=["holidays","summer","easter","present","Chistmas","halloween","black friday","birthday","anniversary","valentines day","wedding","day"]

In [154]:
##new dataframe which contains only the trends words
data_trends=d[d["summary"].str.contains('|'.join(good_trends)) | d["reviewText"].str.contains('|'.join(good_trends))]

In [155]:
print("the size of new dataframe is: ",data_trends.shape)
data_trends.head()

the size of new dataframe is:  (321680, 12)

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,image,style
5,1.0,True,"02 21, 2014",ATQL0XOLZNHZ4,1888861614,Brianna Small,"The S is beautiful, however upon checkout it i...",shipping disaster,1392940800,NaN,NaN,NaN
20,5.0,True,"10 18, 2012",ALWLI4F2NVU76,4639725183,Tesa D James,I discovered yellow tea while on vacation in T...,Only tea I will drink,1350518400,2,NaN,NaN
31,5.0,True,"06 15, 2016",A18M7WCCT7G43K,4639725183,CH in NY,Not your usual Liptons. This tea has a deep ri...,Yum,1465948800,NaN,NaN,NaN
49,5.0,True,"04 21, 2015",A29VUPA3E01L9R,4639725183,Freddy,You can't buy this particular type of Lipton T...,You can't buy this particular type of Lipton T...,1429574400,NaN,NaN,NaN
61,5.0,True,"05 5, 2012",APRYI2HUW1UUY,4639725043,John Gassere,Lipton Yellow Label tea is very concentrated -...,Great tea flavor and a really good money value,1336176000,7,NaN,NaN

In [156]:
##lets focus on the trends list and check exactly how many rows have each of the trend
for i in trends:
    print(i,d[d["summary"].str.contains(str(i)) | d["reviewText"].str.contains(str(i))].shape[0])

holidays 7377
summer 17768
easter 1463
present 22072
Chistmas 29
halloween 871
black friday 16
birthday 26972
anniversary 1300
valentines day 429
wedding 11213
day 286341

In [139]:
##lets go deeper in the day word 
day_trend=d[d["summary"].str.contains("day") | d["reviewText"].str.contains("day")]

In [152]:
day_trend["reviewText"]

'The S is beautiful, however upon checkout it informed me that it would be here by saturday at the latest (wedding was Sunday) it did not come in until monday AFTER the wedding.'

In [159]:
##check for the days of the week
days=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday","Weekend"]

data_days=d[d["summary"].str.contains('|'.join(days)) | d["reviewText"].str.contains('|'.join(days))]

In [160]:
for i in days:
    print(i,data_days[data_days["summary"].str.contains(str(i)) | data_days["reviewText"].str.contains(str(i))].shape[0])

Monday 1289
Tuesday 754
Wednesday 576
Thursday 595
Friday 1625
Saturday 1564
Sunday 2544
Weekend 62

In [165]:
data_days.shape[0]
data_days.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,image,style
5,1.0,True,"02 21, 2014",ATQL0XOLZNHZ4,1888861614,Brianna Small,"The S is beautiful, however upon checkout it i...",shipping disaster,1392940800,NaN,NaN,NaN
1035,5.0,True,"05 26, 2015",A36HKMCFHPLJJD,B00005BPQ9,Tilly Who,Been eating malted milk balls since my parents...,Childhood Favorite Still Holds Up,1432598400,NaN,NaN,{'Size:': ' 12 Ounce (Pack of 6)'}
1072,5.0,True,"06 7, 2014",A2WAU01PM6FPD9,B00005BPQ9,C. KISER,used for gift bags for my Sunday school kids a...,tasty and convenient,1402099200,NaN,NaN,{'Size:': ' 24 Count/1.75 Ounce'}
3232,5.0,False,"11 10, 2003",A5VIGE8EO86RI,B0000CA4TK,captmorgan1670,I live in exile in Denver now - I couldn't sur...,Oye - Tremendo caf chico !,1068422400,8,NaN,{'Size:': ' 1 lb Bag'}
4191,1.0,True,"06 23, 2015",APG5KGWPDU648,B0000CFH7B,butterflyluver,Can arrived EMPTY!!!!! Need it for my daughter...,Can was EMPTY!,1435017600,NaN,NaN,NaN